@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');
@import url('https://cdn.jsdelivr.net/gh/sun-typeface/SUITE/fonts/variable/woff2/SUITE-Variable.css');
@import url('https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css');

@font-face {
  font-family: 'JalnanGothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PyeongChangPeace-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

@tailwind base;
@layer base {
  html {
    font-family:
      'SUIT Variable',
      'SUITE Variable',
      'Pretendard Variable',
      Pretendard,
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      Roboto,
      'Helvetica Neue',
      'Segoe UI',
      'Apple SD Gothic Neo',
      'Noto Sans KR',
      'Malgun Gothic',
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      sans-serif;
    word-break: keep-all;
  }
  h1 {
    @apply font-['PyeongChangPeace-Bold'] text-3xl font-extrabold text-grabit-900 subpixel-antialiased;
  }
  h2 {
    @apply text-xl font-extrabold text-grabit-800 subpixel-antialiased;
  }
  h3 {
    @apply text-lg font-bold subpixel-antialiased;
  }
  p {
    @apply subpixel-antialiased;
  }
  span {
    @apply subpixel-antialiased;
  }
}
@tailwind components;
@tailwind utilities;
